header {
  background-color: #2c3e4f;
  color: white;
}
.start-bootstrap {
  background-color: #19bc9b;
}
.about {
  background-color: #19bc9b;
}

.profilo {
  --height-profilo: 200px;
  --widht-profilo: 250px;
  height: var(--height-profilo);
  width: var(--widht-profilo);
  background-color: white;
}
footer {
  background-color: #3b536d;
}
.copyright {
  background-color: #2c3e4f;
}
.container {
  max-width: 920px;
}
