header {
  background-color: #2c3e4f;
  color: white;
}
.start-bootstrap {
  background-color: #19bc9b;
}
.about {
  background-color: #19bc9b;
}

.profile {
  --widht-profilo: 250px;
  height: auto;
  max-width: var(--widht-profilo);
}
footer {
  background-color: #3b536d;
}
.copyright {
  background-color: #2c3e4f;
}
.container {
  max-width: 920px;
}
