:root {
  --sec-background: #19bc9b;
}
header,
.start-bootstrap,
.about,
footer {
  color: white;
}

header {
  background-color: #2c3e4f;
}
.start-bootstrap {
  background-color: var(--sec-background);
}
.about {
  background-color: var(--sec-background);
}

.profile {
  --widht-profilo: 250px;
  height: auto;
  max-width: var(--widht-profilo);
}
footer {
  background-color: #3b536d;
}
.copyright {
  background-color: #2c3e4f;
}
.container {
  max-width: 920px;
}

.fa-star + .border-3 {
  background-color: black;
}
